global:
  storageClass: ${storage_class_name}

image:
  registry: "docker.io"
  repository: "bitnami/kafka"
  tag: ${kafka_version}

heapOpts: -XX:InitialRAMPercentage=75 -XX:MaxRAMPercentage=75

controller:
  replicaCount: ${controller_conf.replica_count}
  heapOpts: -Xmx1024m -Xms1024m
  persistence:
    enabled: true
    storageClass: ${storage_class_name}
    mountPath: ${controller_conf.mount_path}
  autoscaling:
    hpa:
      enabled: ${controller_conf.hpa_active}
      minReplicas: ${controller_conf.min_replicas}
      maxReplicas: ${controller_conf.max_replicas}

broker:
  replicaCount: ${broker_conf.replica_count}
  heapOpts: -Xmx1024m -Xms1024m
  persistence:
    enabled: true
    storageClass: ${storage_class_name}
    mountPath: ${broker_conf.mount_path}
  autoscaling:
    hpa:
      enabled: ${broker_conf.hpa_active}
      minReplicas: ${broker_conf.min_replicas}
      maxReplicas: ${broker_conf.max_replicas}

metrics:
  jmx:
    enabled: true

kraft:
  enabled: true

zookeeper:
  enabled: false
