global:
  storageClass: ${storage_class_name}

image:
  registry: "docker.io"
  repository: "bitnami/kafka"
  tag: ${kafka_version}

heapOpts: -XX:InitialRAMPercentage=75 -XX:MaxRAMPercentage=75

sasl:
  client:
    users:
      - admin
    passwords: ${sasl_conf.client.password}

controller:
  replicaCount: ${controller_conf.replica_count}
  ## automountServiceAccountToken: true
  controllerOnly: false
  heapOpts: -Xmx1024m -Xms1024m
  persistence:
    enabled: true
    storageClass: ${storage_class_name}
    mountPath: ${controller_conf.mount_path}
  autoscaling:
    hpa:
      enabled: ${controller_conf.hpa_active}
      minReplicas: ${controller_conf.min_replicas}
      maxReplicas: ${controller_conf.max_replicas}

broker:
  replicaCount: ${broker_conf.replica_count}
  ## automountServiceAccountToken: true
  heapOpts: -Xmx1024m -Xms1024m
  persistence:
    enabled: true
    storageClass: ${storage_class_name}
    mountPath: ${broker_conf.mount_path}
  autoscaling:
    hpa:
      enabled: ${broker_conf.hpa_active}
      minReplicas: ${broker_conf.min_replicas}
      maxReplicas: ${broker_conf.max_replicas}

## externalAccess:
##   enabled: true
##   broker:
##     service:
##       loadBalancerClass: traefik
##       type: LoadBalancer
##   controller:
##     service:
##       loadBalancerClass: traefik
##       type: LoadBalancer
##   autoDiscovery:
##     enabled: true

serviceAccount:
  create: true

rbac:
  create: true

metrics:
  jmx:
    enabled: true

kraft:
  enabled: true
  clusterId: kraft_cluster

zookeeper:
  enabled: false
