global:
  storageClass: ${storage_class_name}

image:
  registry: "docker.io"
  repository: "bitnami/kafka"
  tag: ${kafka_version}

heapOpts: -Xmx512m -Xms2048m

controller:
  replicaCount: ${controller.replica_count}
  heapOpts: -Xmx512m -Xms2048m
  persistence:
    enabled: true
    storageClass: ${storage_class_name}
    mountPath: ${controller.mount_path}
  autoscaling:
    hpa:
      enabled: ${controller.hpa_active}
      minReplicas: ${controller.min_replicas}
      maxReplicas: ${controller.max_replicas}

broker:
  replicaCount: ${broker.replica_count}
  heapOpts: -Xmx512m -Xms2048m
  persistence:
    enabled: true
    storageClass: ${storage_class_name}
    mountPath: ${broker.mount_path}
  autoscaling:
    hpa:
      enabled: ${broker.hpa_active}
      minReplicas: ${broker.min_replicas}
      maxReplicas: ${broker.max_replicas}

metrics:
  jmx:
    enabled: true

zookeeper:
  enabled: false
