apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: ${parameters.secret.store_name}
  namespace: ${namespace}
spec:
  provider:
    vault:
      server: ${parameters.secret.vault_address}  # Vault address
      path: ${environment}  # Secret path in Vault
      version: "v2"   # Vault KV engine version
      auth:
        tokenSecretRef:
          name: ${parameters.secret.vault_token_secret_name}
          key: token
