image:
  tag: ${parameters.image_tag}

envs:
  config:
    SERVER_SERVLET_CONTEXT_PATH: ${parameters.keycloak.client_prefix}

yamlApplicationConfig:
  dynamic.config.enabled: true
  kafka:
    clusters:
      - name: local
        bootstrapServers: ${parameters.internal_bootstrap_server}:${parameters.internal_bootstrap_server_port}
        properties:
          sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username=${parameters.kafka_ui_conf.sasl_conf.client_username} password=${parameters.kafka_ui_conf.sasl_conf.client_password};
          security.protocol: SASL_PLAINTEXT
          sasl.mechanism: PLAIN

  auth:
    type: OAUTH2
    oauth2:
      client:
        keycloak:
          clientId: ${parameters.keycloak.client_id}
          clientSecret: ${parameters.keycloak.client_secret}
          scope: openid
          issuer-uri: http://${parameters.keycloak.keycloak_host}/realms/${environment}
          user-name-attribute: email
          client-name: keycloak
          provider: keycloak
          custom-params:
            type: keycloak
            logoutUrl: http://${parameters.keycloak.keycloak_host}/realms/${environment}/protocol/openid-connect/logout
  spring:
    security:
      oauth2:
