apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: ${parameters.common.sc_name}
  namespace: ${namespace}
  annotations:
    storageclass.kubernetes.io/is-default-class: "false"
provisioner: rancher.io/local-path
volumeBindingMode: WaitForFirstConsumer
reclaimPolicy: Delete # default value is Delete
allowVolumeExpansion: true
