alertmanager:
  ingress:
    enabled: true
    ingressClassName: traefik  # Use traefik as the ingress controller

    annotations:
      kubernetes.io/ingress.class: "traefik"
      traefik.ingress.kubernetes.io/router.entrypoints: "web"

    hosts:
      - ${alertmanager.ingress.host}  # Use a local DNS name; we will configure the /etc/hosts to map this
    path: ${alertmanager.ingress.prefix}
    pathType: ${alertmanager.ingress.prefix_type}

grafana:
  ingress:
    enabled: true
    ingressClassName: traefik  # Use traefik as the ingress controller

    annotations:
      kubernetes.io/ingress.class: "traefik"
      traefik.ingress.kubernetes.io/router.entrypoints: "web"

    hosts:
      - ${grafana.ingress.host}  # Use a local DNS name; we will configure the /etc/hosts to map this
    path: ${grafana.ingress.prefix}
    pathType: ${grafana.ingress.prefix_type}
    # tls: []  # Empty TLS means no HTTPS; if you want HTTPS, configure a self-signed certificate or another method

  adminPassword: ${grafana.auth.password}

prometheus:
  ingress:
    enabled: true
    ingressClassName: traefik  # Use traefik as the ingress controller

    annotations:
      kubernetes.io/ingress.class: "traefik"
      traefik.ingress.kubernetes.io/router.entrypoints: "web"

    hosts:
      - ${prometheus.ingress.host}  # Use a local DNS name; we will configure the /etc/hosts to map this
    path: ${prometheus.ingress.prefix}
    pathType: ${prometheus.ingress.prefix_type}
