alertmanager:
  ingress:
    enabled: true
    ingressClassName: traefik  # Use traefik as the ingress controller

    annotations:
      kubernetes.io/ingress.class: "traefik"
      traefik.ingress.kubernetes.io/router.entrypoints: "web"

    hosts:
      - {{ alertmanager.host }}  # Use a local DNS name; we will configure the /etc/hosts to map this
    path: {{ alertmanager.prefix }}
    pathType: {{ alertmanager.prefix_type }}

grafana:
  ingress:
    enabled: true
    ingressClassName: traefik  # Use traefik as the ingress controller

    annotations:
      kubernetes.io/ingress.class: "traefik"
      traefik.ingress.kubernetes.io/router.entrypoints: "web"

    hosts:
      - {{ grafana.host }}  # Use a local DNS name; we will configure the /etc/hosts to map this
    path: {{ grafana.prefix }}
    pathType: {{ grafana.prefix_type }}
    # tls: []  # Empty TLS means no HTTPS; if you want HTTPS, configure a self-signed certificate or another method

prometheus:
  ingress:
    enabled: true
    ingressClassName: traefik  # Use traefik as the ingress controller

    annotations:
      kubernetes.io/ingress.class: "traefik"
      traefik.ingress.kubernetes.io/router.entrypoints: "web"

    hosts:
      - {{ grafana.host }}  # Use a local DNS name; we will configure the /etc/hosts to map this
    path: {{ grafana.prefix }}
    pathType: {{ grafana.prefix_type }}
