---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ${parameters.secret.docker_token_secret_name}
  namespace: ${namespace}
spec:
  refreshInterval: "1m"
  secretStoreRef:
    name: ${parameters.secret.store_name}  # Reference to your Vault SecretStore
    kind: SecretStore
  target:
    name: ${parameters.secret.docker_token_secret_name}
    creationPolicy: Owner
    template:
      type: Opaque
      data:
        token: "{{ .password }}"
  dataFrom:
    - extract:
        key: ${environment}/docker/creds  # Path in Vault
