apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ${parameters.secret.argocd_secret_name}
  namespace: ${namespace}
spec:
  refreshInterval: "1h"  # Sync interval
  secretStoreRef:
    name: ${parameters.secret.store_name}  # Reference to SecretStore
    kind: SecretStore
  target:
    name: ${parameters.secret.argocd_secret_name}  # Kubernetes Secret name
    creationPolicy: Owner  # Creates the secret if it does not exist
  dataFrom:
    - extract:
        key: ${environment}/argocd/creds  # Fetch all key-value pairs from this Vault path
