%{ for policy in policies ~}
path "${mount_path}/data/${path_root}/${policy.path}" {
  capabilities = ${jsonencode(split(",", policy.data_capabilities))}
}

path "${mount_path}/metadata/${path_root}/${policy.path}" {
  capabilities = ${jsonencode(split(",", policy.metadata_capabilities))}
}

path "${mount_path}/delete/${path_root}/${policy.path}" {
  capabilities = ${jsonencode(split(",", policy.delete_capabilities))}
}

path "${mount_path}/destroy/${path_root}/${policy.path}" {
  capabilities = ${jsonencode(split(",", policy.destroy_capabilities))}
}
%{ endfor ~}
