---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ${parameters.secret.name}
  namespace: ${namespace}
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: ${parameters.secret.store_name}  # Reference to your Vault SecretStore
    kind: SecretStore
  target:
    name: ${parameters.secret.name}
    creationPolicy: Owner
    template:
      type: Opaque
      data:
        slackWebhookUrl: "{{ .slackWebhookUrl }}"
  dataFrom:
    - extract:
        key: ${environment}/podRestartCollector/creds  # Path in Vault
