controller:
  numExecutors: 3
  executorMode: "EXCLUSIVE"
  customJenkinsLabels: ["master-node"]
  image:
    tag: ${parameters.common.tag}

  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      kubernetes.io/ingress.class: "traefik"
      traefik.ingress.kubernetes.io/router.entrypoints: "web,websecure"
      ## traefik.ingress.kubernetes.io/router.tls: "true"
    hostName: ${parameters.common.hostname}

  ## jenkinsUrl: ${parameters.common.hostname} ## Using this argurement when disabled ingress
  JCasC:
    securityRealm: |-
      local:
        allowsSignup: false
        enableCaptcha: false
        users:
        - id: ${parameters.common.username}
          name: "Jenkins Admin"
          password: "${parameters.common.password}"
    authorizationStrategy: |-
      loggedInUsersCanDoAnything:
        allowAnonymousRead: false
    configScripts:
      jenkins-casc-configs: |-
        credentials:
          system:
            domainCredentials:
            - credentials:
              - vaultTokenCredential:
                  description: "Vault jenkins token"
                  id: "vault-jenkins-token"
                  scope: GLOBAL
                  token: "${parameters.secrets.vault_token}"
              - vaultAppRoleCredential:
                  description: "Vault jenkins approle"
                  id: "vault-jenkins-approle"
                  path: "approle"
                  roleId: "${parameters.secrets.vault_role_id}"
                  scope: GLOBAL
                  secretId: "${parameters.secrets.vault_secret_id}"
                  usePolicies: false
              - usernamePassword:
                  id: "dockerhub-creds"
                  scope: GLOBAL
                  description: "docker credentials"
                  username: "${parameters.secrets.docker_username}"
                  password: "${parameters.secrets.docker_token}"
              - usernamePassword:
                  id: "github-creds"
                  username: "${parameters.secrets.github_username}"
                  password: "${parameters.secrets.github_token}"
                  description: "GitHub credentials"
                  scope: GLOBAL
              %{ for k, v in env_info ~}

              - file:
                  description: "${v.name}"
                  fileName: "${k}"
                  id: "${v.name}-env"
                  scope: GLOBAL
                  secretBytes: "${v.content}"

              %{ endfor ~}

      unclassifiedcasc: |-
        unclassified:
          hashicorpVault:
            configuration:
              disableChildPoliciesOverride: false
              engineVersion: 2
              skipSslVerification: true
              timeout: 60
              vaultCredentialId: "vault-jenkins-token"
              vaultUrl: "${parameters.secrets.vault_url}"

  installPlugins:
    %{ for k, v in parameters.plugins ~}
    - ${k}:${v}
    %{ endfor ~}

persistence:
  storageClass: ${parameters.common.sc_name}
  size: ${parameters.common.volume_size}

agent:
  podTemplates:
    docker: |
      - name: docker
        label: jenkins-docker
        serviceAccount: jenkins
        yaml: |
          apiVersion: v1
          kind: Pod
          metadata:
            labels:
              jenkins-agent: docker
          spec:
            containers:
            - name: docker
              image: docker:28.1.0-rc.1-dind
              command:
                - dockerd-entrypoint.sh
              args:
                - --host=unix:///var/run/docker.sock
              tty: true
              securityContext:
                privileged: true
              volumeMounts:
                - name: dind-storage
                  mountPath: /var/lib/docker
            volumes:
              - name: dind-storage
                persistentVolumeClaim:
                  claimName: ${parameters.common.pvc_name}
        ## containers:
        ##   - name: docker
        ##     image: docker:28.1.0-rc.1-dind
        ##     command: "/bin/sh -c"
        ##     args: "dockerd-entrypoint.sh --host=unix:///var/run/docker.sock --iptables=false --ip-masq=false"
        ##     ttyEnabled: true
        ##     privileged: true
        ##     resourceRequestCpu: "400m"
        ##     resourceRequestMemory: "512Mi"
        ##     resourceLimitCpu: "1"
        ##     resourceLimitMemory: "1024Mi"
    infra: |
      - name: infra
        label: jenkins-infra
        serviceAccount: jenkins
        yaml: |
          apiVersion: v1
          kind: Pod
          metadata:
            labels:
              jenkins-agent: infra
          spec:
            containers:
            - name: infra
              image: nthedao/infra-v1:latest
              tty: true
              securityContext:
                privileged: true
              volumeMounts:
                - name: infra-storage
                  mountPath: /var/jenkins_home/infra-v1
            volumes:
              - name: infra-storage
                persistentVolumeClaim:
                  claimName: ${parameters.common.pvc_name}
    python: |
      - name: python
        label: jenkins-python
        serviceAccount: jenkins
        containers:
          - name: python
            image: python:3
            command: "/bin/sh -c"
            args: "cat"
            ttyEnabled: true
            privileged: true
            resourceRequestCpu: "400m"
            resourceRequestMemory: "512Mi"
            resourceLimitCpu: "1"
            resourceLimitMemory: "1024Mi"
