configs:
  params:
    server.insecure: true
    server.basehref: /${parameters.values.baseref}
  # secret:
  #   argocdServerAdminPassword: ""

server:
  ingress:
    enabled: false
    ingressClassName: "traefik"
    tls: false
