global:
  domain: ${parameters.values.baseref}

configs:
  params:
    server.insecure: true
    server.basehref: ${parameters.values.baseref}
    server.rootpath: ${parameters.values.rootpath}
  # secret:
  #   argocdServerAdminPassword: ${parameters.values.admin_password}

server:
  ingress:
    enabled: false
    ingressClassName: "traefik"
    tls: false
