@echo off
setlocal

:: Specify the full path of the file to append the timestamp to
set FILEPATH=C:\stop.txt

:: Use PowerShell to get timestamp in ISO format
for /f "delims=" %%i in ('powershell -NoProfile -Command "Get-Date -Format \"yyyy-MM-dd HH:mm:ss\""' ) do set TIMESTAMP=%%i

:: Append the timestamp to the file
echo %TIMESTAMP% >> "%FILEPATH%"

:: Stop the runner and disconnect
nssm stop gh-runner
powershell.exe -ExecutionPolicy Bypass -File "C:\GitHubRunner\gh-runner-disconnect.ps1"

endlocal
