---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ${ingress_route_name}
  namespace: ${namespace}
  annotations:
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/router.entrypoints: "web,websecure"
    traefik.ingress.kubernetes.io/router.middlewares: ${middleware_annotations}
spec:
  entryPoints:
    - web
    - websecure  # Enable websecure if you want HTTPS support
  routes:
    - match: ${match_condition}
      kind: Rule
      middlewares:
    - match: ${match_condition}
      kind: Rule
      middlewares:
      %{ for middl in middlewares ~}
  - name: ${middl.name}
          namespace: ${middl.namespace}
      %{ endfor ~}

      services:
      %{ for service in services ~}
  - name: ${service.name}
          namespace: ${service.namespace}
          port: ${service.port}
      %{ endfor ~}
