---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ${parameters.secret.github_secret_name}
  namespace: ${namespace}
spec:
  refreshInterval: "1m"
  secretStoreRef:
    name: ${parameters.secret.store_name}  # Reference to your Vault SecretStore
    kind: SecretStore
  target:
    name: ${parameters.secret.github_secret_name}
    creationPolicy: Owner
    template:
      type: Opaque
      metadata:
        labels:
          argocd.argoproj.io/secret-type: repo-creds
      data:
        url: "{{ .url }}"
        sshPrivateKey: "{{ .ssh_priv_key }}"
  dataFrom:
    - extract:
        key: ${environment}/github/params  # Path in Vault
    - extract:
        key: ${environment}/github/creds  # Path in Vault
