kuma:
  controlPlane:
    mode: zone
    zone: ${kuma.control_plan.zone}
    kdsGlobalAddress: ${kuma.control_plan.kds_global_address}
    konnect:
      cpId: ${kuma.control_plan.konnect_cp_id}
    secrets:
      - Env: KMESH_MULTIZONE_ZONE_KDS_AUTH_CP_TOKEN_INLINE
        Secret: cp-token
        Key: token
  ingress:
    enabled: true
  egress:
    enabled: true
