loki:
  auth_enabled: true
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  ingester:
    chunk_encoding: snappy
  querier:
    # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
    max_concurrent: ${loki_conf.querier.max_concurrent} # 1
  pattern_ingester:
    enabled: true
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true

deploymentMode: Distributed

ingester:
  replicas: ${loki_conf.ingester.replicas} # To ensure data durability with replication
  zoneAwareReplication:
     enabled: false

querier:
  replicas: ${loki_conf.querier.replicas}
  maxUnavailable: ${loki_conf.querier.max_unavailable}
queryFrontend:
  replicas: ${loki_conf.query_frontend.replicas}
  maxUnavailable: ${loki_conf.query_frontend.max_unavailable}
queryScheduler:
  replicas: ${loki_conf.query_scheduler.replicas}
distributor:
  replicas: ${loki_conf.distributor.replicas}
  maxUnavailable: ${loki_conf.distributor.max_unavailable}
compactor:
  replicas: ${loki_conf.compactor.replicas}
indexGateway:
  replicas: ${loki_conf.index_gateway.replicas}
  maxUnavailable: ${loki_conf.index_gateway.max_unavailable}

bloomPlanner:
  replicas: ${loki_conf.bloom_planner.replicas}
bloomBuilder:
  replicas: ${loki_conf.bloom_builder.replicas}
bloomGateway:
  replicas: ${loki_conf.bloom_gateway.replicas}

singleBinary:
   replicas: ${loki_conf.single_binary.replicas}

backend:
  replicas: ${loki_conf.backend.replicas}
  persistence:
    storageClass: ${storage_class}
read:
  replicas: ${loki_conf.read.replicas}
  persistence:
    storageClass: ${storage_class}
write: # To ensure data durability with replication
  replicas: ${loki_conf.write.replicas}
  persistence:
    storageClass: ${storage_class}

# Enable minio for storage
minio:
  enabled: true
  persistence:
    storageClass: ${storage_class}

gateway:
  basicAuth:
    enabled: ${auth_conf.is_enabled}
    username: ${auth_conf.username}
    password: ${auth_conf.password}

memcached:
  resources:
    requests:
      memory: ${loki_conf.memcached.rq_mem}
      cpu: ${loki_conf.memcached.rq_cpu}
    limits:
      memory: ${loki_conf.memcached.limits_mem}
      cpu: ${loki_conf.memcached.limits_cpu}

memcachedExporter:
  resources:
    requests:
      memory: ${loki_conf.memcached_exporter.rq_mem}
      cpu: ${loki_conf.memcached_exporter.rq_cpu}
    limits:
      memory: ${loki_conf.memcached_exporter.limits_mem}
      cpu: ${loki_conf.memcached_exporter.limits_cpu}
