# global:
#   storageClass: "${keycloak.storage.class_name}"

resources:
  requests:
    cpu: ${keycloak.resources.rq_cpu}
    memory: ${keycloak.resources.rq_mem}
  limits:
    cpu: ${keycloak.resources.limits_cpu}
    memory: ${keycloak.resources.limits_mem}

extraEnvVars:
  - name: KEYCLOAK_HOSTNAME
    value: "http://${keycloak_host}${keycloak.ingress.prefix}"
  - name: KEYCLOAK_ENABLE_STATISTICS
    value: "true"
  - name: KEYCLOAK_PROXY_HEADERS
    value: "forwarded"

auth:
  adminUser: ${keycloak.auth.admin_username}
  adminPassword: ${keycloak.auth.admin_password}

postgresql:
  enabled: true
  auth:
    postgresPassword: "${keycloak.database.pg_password}"
    username: ${keycloak.database.username}
    password: "${keycloak.database.password}"
    database: ${keycloak.database.database}

# ingress:
#   enabled: true
#   ingressClassName: "traefik"
#
#   annotations:
#     kubernetes.io/ingress.class: "traefik"
#     traefik.ingress.kubernetes.io/router.entrypoints: "web,websecure"
#     traefik.ingress.kubernetes.io/router.middlewares: ${namespace}-${keycloak.ingress.strip_prefix}@kubernetescrd
#   path: ${keycloak.ingress.prefix}
#   hostname: "keycloak.local"
#
# adminIngress:
#   enabled: true
#   ingressClassName: "traefik"
#
#   annotations:
#     kubernetes.io/ingress.class: "traefik"
#     traefik.ingress.kubernetes.io/router.entrypoints: "web,websecure"
#     traefik.ingress.kubernetes.io/router.middlewares: ${namespace}-${keycloak.admin_ingress.strip_prefix}@kubernetescrd
#   path: ${keycloak.admin_ingress.prefix}
#   hostname: "keycloak.admin"

# keycloakConfigCli:
#   enabled: true
#   configuration:
#     master.json: |
#       {
#         "realm" : "master",
#         "clients": []
#       }
#     slave.yaml: |
#       realm: slave
#       clients: []
