global:
  storageClass: "${keycloak.storage_class}"

resources:
  requests:
    cpu: 1
    memory: 128Mi
  limits:
    cpu: 2
    memory: 256Mi

auth:
  adminUser: ${keycloak.admin_user}
  adminPassword: ${keycloak.admin_password}
