---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: grafana-strip-prefix
  namespace: ${namespace}  # Replace with the namespace where Traefik is running
spec:
  stripPrefix:
    prefixes:
      - /grafana
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: prometheus-strip-prefix
  namespace: ${namespace}  # Replace with the namespace where Traefik is running
spec:
  stripPrefix:
    prefixes:
      - /prometheus
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: alertmanager-strip-prefix
  namespace: ${namespace}  # Replace with the namespace where Traefik is running
spec:
  stripPrefix:
    prefixes:
      - /alertmanager
